body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3e2c7;

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Caja principal */
.container {
    width: 500px;
    background-color: #fff8ed;
    padding: 35px;
    border-radius: 15px;
    box-sizing: border-box;

    box-shadow: 0 8px 20px rgba(91, 58, 35, 0.25);
}

/* Título */
.container h2 {
    text-align: center;
    color: #6b4226;
    margin-bottom: 30px;
    font-size: 28px;
}

/* Etiquetas */
.container label {
    display: block;
    margin-bottom: 8px;
    color: #6b4226;
    font-weight: bold;
}

/* Campos */
.container input[type="text"],
.container input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 2px solid #d8b58a;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fffdf9;
    outline: none;
}

/* Campo seleccionado */
.container input[type="text"]:focus,
.container input[type="password"]:focus {
    border-color: #b87333;
}

/* Espacio entre campos */
.container form > div {
    margin-bottom: 20px;
}

/* Botones */
.container button {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 8px;

    background-color: #a0522d;
    color: white;

    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    transition: 0.3s;
}

/* Hover */
.container button:hover {
    background-color: #7f3f24;
}

/* Botón volver */
.container form:last-child button {
    background-color: #d2a679;
    margin-top: 5px;
}

.container form:last-child button:hover {
    background-color: #b8865b;
}

/* Mensaje de error */
.container p {
    background-color: #f4d6c6;
    color: #8b3e2f;

    border: 1px solid #d99a7c;
    padding: 12px;
    border-radius: 8px;

    text-align: center;
}

/* Celulares */
@media (max-width: 600px) {
    .container {
        width: 90% !important;
        padding: 25px;
    }

    .container h2 {
        font-size: 23px;
    }
}